
:root {
  /* colors */
  --black: #000000;
  --white: #ffffff;
  --orange: #f06B32;
  --grey: #f1f1f1;

  /* shadow */
  --shadow: 0 10px 5px hsla(0, 0%, 22%, 0.08);
  --shadow2: 10px 10px 10px hsla(0, 0%, 22%, 0.08);
}



body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

/* header */
.header {
  display: flex;
  align-items: center;
  background-color: var(--orange);
  color: var(--white);
}

.header div {
  margin: 20px;
}

.header div h1 {
  margin: 3px 0px;
  font-size: 28px;
}

.header div p {
  margin: 0px 0px 5px 0px;
  font-size: 16px;
}

.header img {
  margin-left: 60px;
}

/* navbar*/
#navbar {
  list-style-type: none;
  overflow: hidden;
  background-color: var(--white);
  box-shadow:var(--shadow);
}

#navbar a {
  float: left;
  display: block;
  color: var(--black);
  text-align: center;
  padding: 16px 20px 16px 70px;
  text-decoration: none;
  font-size: 17px;
  font-weight: 600;
  border-color: var(--grey);
}

#navbar a:hover{
  color: var(--orange);
  font-weight: 600;
}

#navbar a:last-child {
  border-right: none;
}

#navbar a.active {
  background-color: var(--white);
  color: var(--orange);
  font-weight: 600;
}

#navbar a.button-logout {
  display: inline-block;
  border-radius: 10px;
  background-color: var(--orange);
  border: none;
  color: var(--white);
  text-align: center;
  font-size: 17px;
  font-weight: 600;
  padding: 8px;
  width: 100px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 8px 50px 0px 20px;
}

.button-logout span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button-logout span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button-logout:hover span {
  padding-right: 25px;
}

.button-logout:hover span:after {
  opacity: 1;
  right: 0;
}

/* index page */
.index {
  display: flex;
  background-color: var(--orange);
  justify-content: center;
  justify-items: center;
  align-items: center;
  color: var(--white);
  height: 100vh;
}

.index div {
  margin: 20px;
}

.index h1 {
  margin: 5px 0px;
  font-size: 50px;
  text-shadow: var(--shadow);
}

.index div p {
  margin: 0px 0px 15px 10px;
  font-size: 17px;
}

/* button index*/
.button-white {
  display: inline-block;
  border-radius: 10px;
  background-color: var(--white);
  color: var(--orange);
  text-align: center;
  font-size: 17px;
  font-weight: 600;
  padding: 8px;
  width: 100px;
  transition: all 0.5s;
  cursor: pointer;
  box-shadow: var(--shadow2);
  position: relative;
  text-decoration: none;
}

.button-white:hover{
  background-color: var(--grey);
  color: var(--orange);
}

/* navbar sticky */
.content {
  padding: 16px;
  display: flex;
  justify-content: center;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 60px;
}
 
/* search-bar */
.search-bar {
  display: flex;
  align-items: center;
  min-width: 300px;
  border-radius: 50px;
  background-color: var(--white);
  box-shadow: var(--shadow);
}

.dropdown {
  position: relative;
  width: 280px;
  border-radius: 50px;
  background-color: var(--orange);
  border: 3px solid var(--white);
  cursor: pointer;
}

.dropdown-text {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 16px;
  font-weight: 500;
  background-color: transparent;
  padding: 1rem 1.5rem;
  color: var(--white);
}

.dropdown-list {
  position: absolute;
  top: 3rem;
  width: 80%;
  border-radius: 15px;
  max-height: 0;
  overflow: hidden;
  background-color: var(--grey);
  transition: max-height 0.5s;
}

.dropdown-list-item {
  font-size: 14px;
  font-weight: 500;
  border-radius: 14px;
  padding: 10px 0 10px 5px;
  cursor: pointer;
  transition: background-color 0.2s ease, color 0.3s ease, margin-left 0.2s ease;
}

.dropdown-list-item:hover {
  margin-left: 0.5rem;
  color: var(--orange);
}

#list.show {
  max-height: 300px;
}

.search-box {
  display: flex;
  align-items: center;
  padding-right: 1rem;
  width: 100%;
  color: var(--orange);
}

.search-box input {
  padding: 1rem;
  width: 100%;
  font-size: 16px;
  font-weight: 500;
  color: var(--orange);
  border: 0;
  outline: 0;
}

.search-box i {
  font-size: 1.3rem;
  cursor: pointer;
}

.search-box input::placeholder {
  font-weight: 500;
  color: var(--orange);
}

/* login */
.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: var(--orange);
}

.login-form {
  background-color: var(--white);
  padding: 50px;
  width: 30%;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.login-form h2 {
  margin: 0 0 20px 0;
  text-align: center;
  text-transform: uppercase;
  font-size: 40px;
  color: var(--orange);
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  font-weight: 500;
  font-size: 17px;
  padding-bottom: 5px;
}

.form-group input{
  width: 95%;
  padding: 8px;
  border-radius: 5px;
  border: 2px solid var(--grey);
}

.form-group select {
  width: 100%;
  padding: 8px;
  border-radius: 5px;
  border: 2px solid var(--grey);
  margin-bottom: 20px;
}

/* button submit */
button[type="submit"] {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 10px;
  background-color: var(--orange);
  color: var(--white);
  cursor: pointer;
  font-size: 17px;
  font-weight: 600;
  margin: 10px 0 10px 0;
}

button[type="submit"]:hover {
  background-color: var(--orange );
  color: var(--white);
  cursor: pointer;
  font-size: 17px;
  font-weight: 600;
  margin: 10px 0 10px 0;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
